@{
    Layout = null;
}

<!DOCTYPE html>

@*<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <div>
            <span>login: </span><span>@ViewBag.login</span>
        </div>
        <div>
            <span>password: </span><span>@ViewBag.password</span>
        </div>
        <form action="/Default/ProcessPost" method="post">
            <label for="login">login: </label>
            <input type="text" name="login" id="login" />
            <label for="password">password: </label>
            <input type="password" name="password" id="password" />
            <input type="submit" value="submit" />
        </form>
    </div>
</body>
</html>*@

<html>
<head>
    <meta charset="utf-8">
    <title>Holiday</title>
    <link rel="stylesheet" href="~/wwwroot/css/stylefast.css">
</head>
<body>
    <header>
        <section>

            <div class="banner">
                <div class="wrapper">

                    <div class="welcome">welcome to our marketplace</div>

                    <div class="lor">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor</br>
                        non, ornare sagittis dolor. Nulla vestibulu lacus ...
                    </div>

                    <div class="button">
                        <div class="wiev"><a href="#">WIEW MORE</a></div>
                        <div class="tour"><a href="#">VIDEO TOUR</a></div>
                    </div>

                    <div class="slider">
                        <div class="round"><a href="#"></a></div>
                        <div class="activeround"><a href="#"></a></div>
                        <div class="round"><a href="#"></a></div>
                    </div>
                    <div class="clear"></div>

                </div>
            </div>

        </section>
    </header>

    <main>
        <section class="first">
            <div class="wrapper">
                <div class="title">we are modest.</div>

                <div class="lefthalf">

                    <div class="article">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor non, ornare sagittis dolor. Nulla vestibulu lacus sed molestie gravida. Crferm entum  quismagna congue, vel sodales arcu vestibulum. Nunc lobortis dui magna, quis lacusullamcorper at.</p>
                        <p>Phasellus sollicitudin ante eros ornare, sit amet luctus lorem semper. Suspendisse posuere, quamdictum consectetur, augue metus pharetra tellus, eu feugiatloreg egetnisi. Cras ornare bibendum ante, ut bibendum odio convallis eget. vel sodales arcu vestibulum</p>
                    </div>

                    <div class="social">
                        <div><a href="#"><img src="~/wwwroot/images/pint.png"></a></div>
                        <div><a href="#"><img src="~/wwwroot/images/twit.png"></a></div>
                        <div><a href="#"><img src="~/wwwroot/images/google.png"></a></div>
                        <div><a href="#"><img src="~/wwwroot/images/in.png"></a></div>
                        <div><a href="#"><img src="~/wwwroot/images/rss.png"></a></div>
                    </div>
                </div>

                <div class="righthalf">

                    <div class="bloc">
                        <div class="img">01</div>
                        <div class="artic">
                            <div class="tit">Dedication to the customers</div>
                            <div class="text">Integer vel lacus non dui ullamcorper venenatis. Aliquam vitae tristique nisi, vitae ullamcorper risus.blandit</div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="bloc">
                        <div class="img">02</div>
                        <div class="artic">
                            <div class="tit">working closely with our clients</div>
                            <div class="text">Sed blandit nisi urna, sed pellentesque enim consectetur vitae. Suspendisse ut vehicula nibh.</div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="bloc">
                        <div class="img">03</div>
                        <div class="artic">
                            <div class="tit">increase happiness</div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eleifend laoreet euismod.</div>
                        </div>
                        <div class="clear"></div>
                    </div>

                </div>
                <div class="clear"></div>

            </div>
        </section>

        <section class="second">

            <div class="wrapper">

                <div class="title">meet the team.</div>

                <div class="team">

                    <div class="person">
                        <img src="~/wwwroot/images/face.jpg">

                        <div class="table">
                            <div class="name">Gloria Bromley</div>
                            <div class="work">CEO and Founder</div>
                        </div>

                        <div class="socbl">
                            <div class="soc"><a href="#"><img src="~/wwwroot/images/google.png"></a></div>
                            <div class="soc"><a href="#"><img src="~/wwwroot/images/in.png"></a></div>
                            <div class="soc"><a href="#"><img src="~/wwwroot/images/twit.png"></a></div>
                        </div>
                    </div>

                    <div class="person">
                        <img src="~/wwwroot/images/face1.jpg">

                        <div class="table">
                            <div class="name">Paul Torres</div>
                            <div class="work">Head of Development</div>
                        </div>

                        <div class="socbl">
                            <div class="soc"><a href="#"><img src="~/wwwroot/images/google.png"></a></div>
                            <div class="soc"><a href="#"><img src="~/wwwroot/images/in.png"></a></div>
                            <div class="soc"><a href="#"><img src="~/wwwroot/images/twit.png"></a></div>
                        </div>
                    </div>

                    <div class="person">
                        <img src="~/wwwroot/images/face2.jpg">

                        <div class="table">
                            <div class="name">Judith Gillette</div>
                            <div class="work">Graphic Desinger</div>
                        </div>

                        <div class="socbl">
                            <div class="soc"><a href="#"><img src="~/wwwroot/images/google.png"></a></div>
                            <div class="soc"><a href="#"><img src="~/wwwroot/images/in.png"></a></div>
                            <div class="soc"><a href="#"><img src="~/wwwroot/images/twit.png"></a></div>
                        </div>
                    </div>

                    <div class="person">
                        <img src="~/wwwroot/images/face3.jpg">

                        <div class="table">
                            <div class="name">Delores Reed</div>
                            <div class="work">Client Service Director</div>
                        </div>

                        <div class="socbl">
                            <div class="soc"><a href="#"><img src="~/wwwroot/images/google.png"></a></div>
                            <div class="soc"><a href="#"><img src="~/wwwroot/images/in.png"></a></div>
                            <div class="soc"><a href="#"><img src="~/wwwroot/images/twit.png"></a></div>
                        </div>
                    </div>

                </div>
                <div class="clear"></div>
            </div>

        </section>

        <section class="grey">
            <div class="wrapper">

                <div class="title">LOVELY WORK.</div>

                <div class="picline">
                    <div class="pict">
                        <img src="~/wwwroot/images/pict.jpg">
                        <div class="partner">partnership guidlines</div>
                        <div class="plus"><a href="#">+</a></div>
                    </div>

                    <div class="pict">
                        <img src="~/wwwroot/images/pict1.jpg">
                        <div class="partner">partnership guidlines</div>
                        <div class="plus"><a href="#">+</a></div>
                    </div>

                    <div class="pict">
                        <img src="~/wwwroot/images/pict2.jpg">
                        <div class="partner">partnership guidlines</div>
                        <div class="plus"><a href="#">+</a></div>
                    </div>
                </div>

                <div class="clear"></div>

                <div class="picline">
                    <div class="pict">
                        <img src="~/wwwroot/images/pict3.jpg">
                        <div class="partner">partnership guidlines</div>
                        <div class="plus"><a href="#">+</a></div>
                    </div>

                    <div class="pict">
                        <img src="~/wwwroot/images/pict4.jpg">
                        <div class="partner">partnership guidlines</div>
                        <div class="plus"><a href="#">+</a></div>
                    </div>

                    <div class="pict">
                        <img src="~/wwwroot/images/pict5.jpg">
                        <div class="partner">partnership guidlines</div>
                        <div class="plus"><a href="#">+</a></div>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="show"><a href="#">SHOW ME MORE</a></div>

            </div>
        </section>

        <section class="forth">
            <div class="wrapper">

                <div class="title">what we do.</div>

                <div class="setline">

                    <div class="book">
                        <img src="~/wwwroot/images/cogs.png">
                        <div class="theme">Easy theme Setup</div>
                        <div class="textt">Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.</div>
                    </div>

                    <div class="book">
                        <img src="~/wwwroot/images/pen.png">
                        <div class="theme">pixel perfect design</div>
                        <div class="textt">Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.</div>
                    </div>

                    <div class="book">
                        <img src="~/wwwroot/images/mob.png">
                        <div class="theme">responsive display</div>
                        <div class="textt">Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.</div>
                    </div>

                    <div class="book">
                        <img src="~/wwwroot/images/clock.png">
                        <div class="theme">24/7 support</div>
                        <div class="textt">Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.</div>
                    </div>

                </div>

                <div class="clear"></div>

                <div class="setline">

                    <div class="book">
                        <img src="~/wwwroot/images/cogs.png">
                        <div class="theme">Easy theme Setup</div>
                        <div class="textt">Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.</div>
                    </div>

                    <div class="book">
                        <img src="~/wwwroot/images/pen.png">
                        <div class="theme">pixel perfect design</div>
                        <div class="textt">Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.</div>
                    </div>

                    <div class="book">
                        <img src="~/wwwroot/images/mob.png">
                        <div class="theme">responsive display</div>
                        <div class="textt">Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.</div>
                    </div>

                    <div class="book">
                        <img src="~/wwwroot/images/clock.png">
                        <div class="theme">24/7 support</div>
                        <div class="textt">Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.</div>
                    </div>

                </div>
                <div class="clear"></div>


            </div>
        </section>

        <section class="greysec">

            <div class="wrapper">

                <div class="title">FEATURES.</div>

                <div class="posts">

                    <img src="~/wwwroot/images/jpeg.jpg">
                    <div class="prod">Product Design: Eames Chairs</div>
                    <div class="texxt">Eames designs are certainly iconic. Everyone of us know at least two or three of their famous chairs. I would even risk saying that most of us dream about having a nice Eames.</div>

                </div>

                <div class="posts">

                    <img src="~/wwwroot/images/jpeg1.jpg">
                    <div class="prod">Elegant and Colorful Logos</div>
                    <div class="texxt">I’ve always found logo design to be one of the most challenging things to get right. There’s so much that a logo can say about a brand without actually saying it.</div>

                </div>

                <div class="posts">

                    <img src="~/wwwroot/images/jpeg2.jpg">
                    <div class="prod">A Showcase of Creative</div>
                    <div class="texxt">It’s always interesting to see another designer’s take on a famous website, app or even physical product. Different designers add their own personality and style.</div>

                </div>

                <div class="clear"></div>

            </div>

        </section>

        <section class="sixth">

            <div class="wrapper">
                <div class="title">stay in touch.</div>
            </div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114964.6202376739!2d-80.3010441026695!3d25.78230718310314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b0a20ec8c111%3A0xff96f271ddad4f65!2z0JzQsNC50LDQvNC4LCDQpNC70L7RgNC40LTQsCwg0KHQqNCQ!5e0!3m2!1sru!2sua!4v1485265467087" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

            <div class="wrapper rela">

                <div class="left">

                    <div class="infor">contact information</div>

                    <div class="pp">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique nec dolor non, ornare sagittis dolor. Nulla vestibulum lacus sed molestie gravida. </p>
                        <p>Cras fermentum elit quis magna congue, <span class="bold">vel sodales</span> arcu vestibulum. Nunc lobortis dui magna, quis dapibus lacus</p>
                    </div>

                </div>

                <div class="clear"></div>

                <div class="right">
                    <div class="popup" onclick="myFunction()">
                        <span id="myPopup" class="popuptext @ViewBag.show">name: @ViewBag.name; email: @ViewBag.email</span>
                    </div>
                    <form action="/Default/ProcessPost" method="post">
                        <div class="namer"><label>YOUR NAME<br><input type="text" name="name"></label></div>
                        <div class="mail"><label>YOUR EMAIL<br><input type="email" name="email"></label></div>
                        <div class="clear"></div>
                        <div class="area"><label>YOR MESSAGE<br><textarea name="message"></textarea></label></div>
                        <div class="send"><input type="submit" value="SEND MESSAGE"></div>
                    </form>


                </div>
            </div>


        </section>

    </main>

    <footer>
        <section>
            <div class="wrapper">
                &copy; Copyright 2014 by PSD Booster. All Rights Reserved.
                <div class="socilico">LFHEI</div>
            </div>
            <div class="clear"></div>
        </section>
    </footer>
    <script>
		// When the user clicks on <div>, open the popup
		function myFunction() {
			var popup = document.getElementById("myPopup");
			popup.classList.toggle("show");
		}
    </script>
</body>
</html>
